<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NFC Auth Solution</title>
  <link rel="stylesheet" type="text/css" href="auth.css" />
</head>
<body>
  <div class="header">
    <h1 class="header-text">NFC Auth Solution</h1>
  </div>

  {% for message in get_flashed_messages() %}
		<div class=flash>
		{{ message }}
		</div>
  {% endfor %}

  <div class="auth">
    <div class="auth-header">
      <h1 class="auth-header-text">Login</h1>
    </div>
    <div class="auth-body">
      <form action="/smart_register" method="get">
        <input class="button" type="submit" value="Smart Register" />
      </form>
      <form action="/smart_login" method="get">
        <input class="button" type="submit" value="Smart Login" />
      </form>
    </div>
  </div>
</body>
</html>
