<html>
  <head>
    <title>Title</title>
  </head>
  <h1>Login</h1>

  {% if error %}
  	<p class=error><strong> Error: </strong> {{ error }}
  {% endif %}

  <form action="" method=post>
		<input type=text name=username>
		<input type=password name=password>
		<input type=submit value=Login>
	</form>

  {% for message in get_flashed_messages() %}
		<div class=flash>
		{{ message }}
		</div>
  {% endfor %}

  <form action="/get_public_key" method=get>
  	<input type=submit value=Login>
  </form>

  {% if public_key %}
    <p class=error><strong>Test: </strong>{{ public_key }}
  {% endif %}

</br>
</br>
	<a href="/register">register</a>
</br>
</br>
  <a href="http://localhost:5000/get_public_key">here</a>
</html>